## Demographic data analysis

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.shape

(32561, 15)

### How many of each race are represented in this dataset?

In [6]:
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [7]:
average_age_men = df[df['sex']=='Male']['age'].mean()
print(average_age_men)

39.43354749885268

### What is the percentage of people who have a Bachelor's degree?

In [8]:
percentage_bachelors = ((df[df['education']=='Bachelors']['education'].count())/len(df))*100
print(percentage_bachelors)

16.44605509658794

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
### What percentage of people without advanced education make more than 50K?

In [9]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

# percentage with salary >50K
higher_education_rich = (higher_education[higher_education['salary']=='>50K']['salary'].count())/len(higher_education)*100
lower_education_rich =(lower_education[lower_education['salary']=='>50K']['salary'].count())/len(lower_education)*100
print(higher_education_rich)
print(lower_education_rich)

46.535843011613935
17.3713601914639

### What is the minimum number of hours a person works per week?

In [10]:
min_work_hours = int(df['hours-per-week'].agg({'minimum':'min'}))
print(min_work_hours)

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [11]:
filter1=df['hours-per-week']==min_work_hours 
filter2=df['salary']=='>50K'
num_min_workers=df.where(filter1)['salary'].count()
print(num_min_workers)
rich_percentage=(df.where(filter1 & filter2)['salary'].count()/num_min_workers)*100
print(rich_percentage)

20
10.0

### What country has the highest percentage of people that earn >50K?

In [12]:
highest_earning_country = df[df['salary']=='>50K'].groupby('native-country').agg({'native-country':'count'})
total=df.groupby('native-country')['salary'].count()
#print(highest_earning_country)
percent=(highest_earning_country['native-country']/total)*100
print(percent.sort_values(ascending=False))
print(percent[percent==percent.max()].index[0])

native-country
Iran                          41.860465
France                        41.379310
India                         40.000000
Taiwan                        39.215686
Japan                         38.709677
Yugoslavia                    37.500000
Cambodia                      36.842105
Italy                         34.246575
England                       33.333333
Canada                        32.231405
Germany                       32.116788
Philippines                   30.808081
Hong                          30.000000
Greece                        27.586207
China                         26.666667
Cuba                          26.315789
?                             25.042882
Scotland                      25.000000
United-States                 24.583476
Hungary                       23.076923
Ireland                       20.833333
South                         20.000000
Poland                        20.000000
Thailand                      16.666667
Ecuador                       14.285714
Jamaica                       12.345679
Laos                          11.111111
Portugal                      10.810811
Puerto-Rico                   10.526316
Trinadad&Tobago               10.526316
Haiti                          9.090909
El-Salvador                    8.490566
Honduras                       7.692308
Vietnam                        7.462687
Peru                           6.451613
Nicaragua                      5.882353
Mexico                         5.132193
Guatemala                      4.687500
Columbia                       3.389831
Dominican-Republic             2.857143
Holand-Netherlands                  NaN
Outlying-US(Guam-USVI-etc)          NaN
dtype: float64
Iran

### Identify the most popular occupation for those who earn >50K in the US.

In [15]:
filter1=df['salary']=='>50K'
filter2=df['native-country']=='United-States'
res=df.where(filter1 & filter2)['occupation'].value_counts()
print(res)

Exec-managerial      1818
Prof-specialty       1650
Sales                 928
Craft-repair          860
Adm-clerical          458
Transport-moving      305
Tech-support          257
Machine-op-inspct     224
Protective-serv       203
?                     176
Farming-fishing       111
Other-service         106
Handlers-cleaners      73
Armed-Forces            1
Priv-house-serv         1
Name: occupation, dtype: int64